.home-section {
    background: white;
    position: relative;
    padding: 50px 0;
    z-index: 0;
}

.experience .card-text,
.experience .card-text p {
    color: #000 !important;
    font-size: 0.85rem !important;
}

ul.ul-edu li .description p.institution {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.6);
}

.card .section-subheading {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}